<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET Core in-process hosting under IIS.
  Match UiApi approach: clear inherited rewrite rules so parent SPA rewrite rules do not affect this sub-application.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <clear />
        </rules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\F4CIO.AiChatBot.UiHtmx.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 341FECBA-9858-7D08-9A0E-7247C37355A3-->